h1, h2, h3, h4, h5, h6 {
	clear: both;
	@include strokeme;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: white;
	text-decoration: none;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: white;
}