@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono|Ubuntu:500');
$font__main: 'Ubuntu', sans-serif;

$font__menu: 'Ubuntu Condensed', sans-serif;
$font__code: 'Ubuntu Mono', monospace;
$font__pre: 'Ubuntu Mono', monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;